<div class="container main-container">
  <h2 id="title">Welcome to Ember Cafe</h2>

  <ul class="nav nav-tabs">
    <li role="presentation">{{link-to 'Home' 'index' class="btn btn-default"}}</li>
    <li role="presentation">{{link-to 'Todo List' 'todos' class="btn btn-default"}}</li>
    <li role="presentation">{{link-to 'Order Items' 'orders' class="btn btn-default"}}</li>
  </ul>
{{outlet}}
</div>
